Node_Red_Watson_Conv_WebInterface.json
[{"id":"23c895ed.a1463a","type":"websocket in","z":"907f67b2.072508","name":"","server":"bb52e631.fbc768","client":"","x":87.49999618530273,"y":166.23230457305908,"wires":[["d119372a.5fc7c8"]]},{"id":"d119372a.5fc7c8","type":"function","z":"907f67b2.072508","name":"Input_msg","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":248.8333511352539,"y":240.7575662136078,"wires":[["a538ec9c.57a26","e20ae75a.750c78"]]},{"id":"e20ae75a.750c78","type":"websocket out","z":"907f67b2.072508","name":"","server":"bb52e631.fbc768","client":"","x":765.8333168029785,"y":238.9999942779541,"wires":[]},{"id":"a490fe57.ce495","type":"http in","z":"907f67b2.072508","name":"","url":"/chat","method":"get","swaggerDoc":"","x":119.05554962158203,"y":431.8889226913452,"wires":[["68ca17ab.df44e8"]]},{"id":"68ca17ab.df44e8","type":"template","z":"907f67b2.072508","name":"Web Template","field":"","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"wss://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":342.05554962158203,"y":431.8889226913452,"wires":[["b383b853.450f38"]]},{"id":"b383b853.450f38","type":"http response","z":"907f67b2.072508","name":"","x":531.3412742614746,"y":432.31748390197754,"wires":[]},{"id":"721664c7.8a34ec","type":"watson-conversation-v1","z":"907f67b2.072508","name":"Chemical_Conv","workspaceid":"6d075aa3-88f8-412b-a50a-1f14100a69fb","multiuser":false,"context":false,"x":596.732349395752,"y":163.35351371765137,"wires":[["49044d00.a64df4"]]},{"id":"a538ec9c.57a26","type":"function","z":"907f67b2.072508","name":"Conv_Input","func":"var message = JSON.parse(msg.payload);\nmsg.payload = message.message;\nmsg.params = {\"context\" :{\n    \"location\" : \"#location#\"\n}};\nreturn msg;","outputs":1,"noerr":0,"x":402.33838653564453,"y":164.02020645141602,"wires":[["721664c7.8a34ec"]]},{"id":"d1e63b5e.3d36a8","type":"function","z":"907f67b2.072508","name":"Output_Msg","func":"//var msgs = msg.payload.output.text[0];\n\nvar replace_convtext = msg.outputtext;\nreplace_convtext = replace_convtext.replace(\"#location#\",msg.payload);\n\nmsg.payload = \n{\n    \"message\" : replace_convtext,\n    \"user\" : \"Watson\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":870.750129699707,"y":353.9722023010254,"wires":[["e20ae75a.750c78"]]},{"id":"f6b61bb3.2c5138","type":"http request","z":"907f67b2.072508","name":"DBRequest","method":"GET","ret":"obj","url":"https://91b8fbd9-e6b2-45d5-a2f7-f023edd47cab-bluemix.cloudant.com/rfid/_design/chemicalsearch/_view/chemicalSearch?limit=20&reduce=false&&descending=true","tls":"","x":972.0529899597168,"y":161.40403842926025,"wires":[["125459d5.2cad66"]]},{"id":"49044d00.a64df4","type":"function","z":"907f67b2.072508","name":"Conv_Res","func":"var entity_chemical_name = \"\";\nif(msg.payload.entities.length !== 0){\n    for(var i=0;i<msg.payload.entities.length;i++){\n        entity_chemical_name = msg.payload.entities[i].value;\n        }        \n    } else {\n        entity_chemical_name = null;\n    }\nmsg.chemicalname = entity_chemical_name;\nmsg.outputtext = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":788.0555305480957,"y":162.1110644340515,"wires":[["f6b61bb3.2c5138"]]},{"id":"125459d5.2cad66","type":"function","z":"907f67b2.072508","name":"chemical_location","func":"var chemical_loc = \"\";\nif(msg.chemicalname !== null){   \n    for(var i=0; i< msg.payload.rows.length; i++){        \n        if(msg.payload.rows[i].key.toLowerCase() === msg.chemicalname.toLowerCase()){\n            chemical_loc =  msg.payload.rows[i].value[1];\n            break;\n            }\n        }\n   }\nmsg.payload = chemical_loc;\nreturn msg;","outputs":1,"noerr":0,"x":971.9442863464355,"y":235.9166431427002,"wires":[["d1e63b5e.3d36a8"]]},{"id":"c42cdda.fee152","type":"comment","z":"907f67b2.072508","name":"Watson Conversation chat module","info":"","x":169.375,"y":93.75000071525574,"wires":[]},{"id":"533dbfda.6aa1b","type":"comment","z":"907f67b2.072508","name":"Parsing Web Template ","info":"","x":158.12500381469727,"y":347.5000057220459,"wires":[]},{"id":"bb52e631.fbc768","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"}]